{% extends "base.html" %}

{% block content %}
    <div>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('RegisterCar') }}">Add Vehicle</a>
    </div>

    <h1>Sign In</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            <input  type="text" name="username"><br>
            {% for error in form.username.errors %}
            <span style="color: rebeccapurple;">[{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            <input  type="text" name="password"><br>
            {% for error in form.password.errors %}
            <span style="color: rebeccapurple;">[{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}
