{% extends "base.html" %}

{% block content %}
<div>
    <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="{{ url_for('mechanicDashboard') }}">Home</a></li>
            <li role="presentation"><a href="{{url_for('logout')}}">Logout</a> </li>
         </ul>

 </div>
  <h1>Add Availability!</h1>
  <form action="" method="post">
      <div class="jumbotron">
      {{ form.hidden_tag() }}
      <p>
          {{ form.date.label }}<br>
          {{ form.date(size=10) }}
          {% for error in form.date.errors %}
          <span style="color: rebeccapurple;">[{{ error }}</span>
          {% endfor %}
      </p>

      <p>
          {{ form.start_time.label }}<br>
          <h6>The time is in a 24 hour clock</h6>
          {{ form.start_time(size=10) }}
          {% for error in form.start_time.errors %}
          <span style="color: rebeccapurple;">[{{ error }}</span>
          {% endfor %}
      </p>
      <p>
          {{ form.end_time.label }}<br>
          <h6>The time is in a 24 hour clock</h6>
          {{ form.end_time(size=10) }}
          {% for error in form.end_time.errors %}
          <span style="color: rebeccapurple;">[{{ error }}</span>
          {% endfor %}
      </p>

      <p>{{ form.submit() }}</p>
  </div>
  </form>
{% endblock %}
