{% extends "base.html" %}

{% block content %}



 <div>
    <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="{{ url_for('mechanicDashboard') }}">Home</a></li>
            <li role="presentation"><a href="{{url_for('addAvailability')}}">Add Availability</a></li>
            <li role="presentation"><a href="{{url_for('logout')}}">Logout</a> </li>
         </ul>

 </div>


    <h1>Hi {{ current_user.user }}!</h1>
        {% for car in cars %}
            {%if current_user.user == car.user%}
        <div>
        <div class="jumbotron">
            <p>{{ current_user.user }} owns: <b> a {{car.make}} {{ car.model }} </b> </p>
        </div>
            {%endif%}
        {% endfor %}

        {% for x in appointments %}
        <div>
            {%if current_user.user == x.mechanic%}
            <p>You have an appointment booked for {{ x.appointment_date }} at <b> {{ x.appointment_time }} </b> </p>
             {%endif%}
        {% endfor %}
        </div>
        </div>

{% endblock %}