{% extends "bootstrap/base.html" %}
<!--<link rel="stylesheet" media="screen" href="bootstrap/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="bootstrap/bootstrap-theme.min.css">-->
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Maintenance Reminder </title>
      {% else %}
      <title> <b>Welcome to Maintenance Reminder!  </b></title>
      {% endif %}
    </head>
    <body>
        <div>
               <ul class="nav nav-pills">
             <li role="presentation"><a href="{{url_for('logout')}}">Logout</a></li>

            </ul>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>

</html>

