{% extends "base.html" %}
{% block content %}
    <div>
        <ul class="nav nav-pills">
            <li role="presentation"class= "active"> <a href="{{ url_for('index') }}">Login</a></li>
        </ul>
    </div>

    <h1>Forgot Password</h1>

    <p>
        Enter your username and we'll send you an email with a temporary password that you can use to sign back in to your account.
        Once you are signed in, you can reset your password.
    </p>

    <form action="" method="post" novalidate>
        <div class="jumbotron">
        {{ form.hidden_tag() }}
        <p>
            {{ form.user.label }}<br>
            {{ form.user(size=32) }}
            {% for error in form.user.errors %}
            <span style="color: #663399;">[{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        </div>
    </form>
{% endblock %}