{% extends "base.html" %}
{% block content %}
    <div>
            Application:
            <a href="{{ url_for('index') }}">Home</a>
            <!--<a href="{{ url_for('login') }}">Login</a>-->
            <a href="{{ url_for('RegisterCar') }}">Add Vehicle</a>
            <a href="{{ url_for('editVehicle')}}">Edit Vehicle</a>
            <a href="{{url_for('logout')}}">Logout</a>
            <a href="{{url_for('addAvailability')}}"> Add Availability</a>
            <a href="{{url_for('Schedule')}}"> Schedule Appointment</a>
    </div>

    <h1>Hi, {{ current_user.user }}!</h1>
        {% for x in cars %}
            {%if current_user.user == x.user%}
        <div>
            <p>{{ current_user.user }} owns: <b> {{ x.model }} </b> </p>
        </div>
            {%endif%}
        {% endfor %}
        {% for x in appointments %}
            {%if current_user.user == x.user%}
        <div>
            <p>{{ current_user.user }} has an appointment on: <b> {{ x.appointment_date}}</b> at <b>{{x.appointment_time}}</b> with <b>{{x.mechanic}} </b> </p>
        </div>
            {%endif%}
        {% endfor %}

{% endblock %}
