{% extends "base.html" %}


{% block content %}

    <div>

         <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="{{ url_for('index') }}">Home</a></li>


             <li role="presentation"><a href="{{url_for('logout')}}">Logout</a></li>



         <!--   <a href="{{ url_for('index') }}">Home</a>

            <a href="{{ url_for('login') }}">Login</a> -->

            <!--<a href="{{ url_for('RegisterCar') }}">Add Vehicle</a>-->
         </ul>
    </div>



    <h1>Sign In</h1>


    <p>New Users  <a href="{{ url_for('register') }}">Sign Up Here!</a></p>



    <form action="" method="post" novalidate>
<div class="jumbotron">
        {{ form.hidden_tag() }}

        <p>

            {{ form.user.label }}<br>

            {{ form.user(size=32) }}

            {% for error in form.user.errors %}

            <span style="color: #663399;">[{{ error }}</span>

            {% endfor %}

        </p>

        <p>

            {{ form.password.label }}<br>

            {{ form.password(size=32) }}

            {% for error in form.password.errors %}

            <span style="color: #663399;">[{{ error }}</span>

            {% endfor %}

        </p>



        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>

        <p>{{ form.submit() }}</p>


</div>
    </form>

{% endblock %}