{% extends "base.html" %}


{% block content %}

<div>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{{ url_for('mechanicDashboard') }}">Home</a></li>
        <li role="presentation"><a href="{{url_for('view_rating')}}">View Mechanic Ratings</a> </li>
        <li role="presentation"><a href="{{url_for('addAvailability')}}">Add Availability</a></li>
        <li role="presentation"><a href="{{url_for('logout')}}">Logout</a> </li>

    </ul>
</div>

<div class="jumbotron">
<div class="container text-center">
<h1>Hi {{ current_user.user }}!</h1>
{% for x in appointments %}

    <div class="card">
  <div class="card-body">
      {%if current_user.user == x.mechanic%}
    <h4 class="card-title">You have a {{x.appointment_type}} appointment booked for {{ x.appointment_date }} at {{ x.appointment_time }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Status: {{x.status}}</h6>
    <a href="{{url_for('Confirmed',id=x.id)}}"><button class="add btn btn-primary font-weight-bold ">Confirm</button></a> <a href="{{url_for('Declined',id=x.id)}}"><button class="add btn btn-primary font-weight-bold ">Decline</button></a>
    <p class="card-text">
      {%endif%}
  </div>
</div>

{% endfor %}

</div>
</div>


{% endblock %}