{% extends "base.html" %}


{% block content %}

<div>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{{ url_for('mechanicDashboard') }}">Home</a></li>
        <li role="presentation"><a href="{{url_for('view_rating')}}">View Mechanic Ratings</a> </li>
        <li role="presentation"><a href="{{url_for('addAvailability')}}">Add Availability</a></li>
        <li role="presentation"><a href="{{url_for('logout')}}">Logout</a> </li>

    </ul>
</div>

<div class="jumbotron">
<div class="container text-center">
<h1>Hi {{ current_user.user }}!</h1>
{% for x in appointments %}
    <div>
        {%if current_user.user == x.mechanic%}
            <p>You have a <b>{{x.appointment_type}}</b> appointment booked for {{ x.appointment_date }} at <b> {{ x.appointment_time }} </b>{#<b>{{ form.confirm_service() }}</b> <b> {{ form.submit() }} </b> <b>{{ form2.confirm_paid() }}</b> <b>{{ form2.submit() }}</b>#}</p>
        {%endif%}
    </div>
{% endfor %}

</div>
</div>


{% endblock %}