
{% extends "base.html" %}
{% block content %}
<div>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{url_for('index') }}">Home</a></li>
        <li role="presentation"><a href="{{ url_for('RegisterCar') }}" >Add Vehicle</a></li>
        <li role="presentation" class="active"><a href="{{ url_for('OilChange')}}">Oil Change</a></li>
        <li role="presentation"><a href="{{url_for('Schedule')}}">Schedule Appointment</a></li>
        <li role="presentation"><a href="{{url_for('view_rating')}}">View Mechanic Ratings</a> </li>
        <li role="presentation"><a href="{{url_for('recommendations')}}">Suggested Recommendations</a> </li>
        <li role="presentation"><a href="{{url_for('logout')}}">Logout</a> </li>
    </ul>

<div class="container text-center">
<div class="jumbotron">

    <h2 class="text-center">Oil Change</h2>
    <form action="" method="post" class="text-center">
        {{ form.hidden_tag() }}

        <p>
            {{ form.update_miles.label }}<br>
            {{ form.update_miles(size=32) }}<br>
            {% for error in form.update_miles.errors %}
            <span style="color: #ff0000;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.car.label }}<br>
            {{ form.car(size=32) }}<br>
            {% for error in form.car.errors %}
            <span style="color: #ff0000;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>

</div>
</div>
{% endblock %}
</div>