
{% extends "base.html" %}
{% block content %}
    <div>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('RegisterCar') }}">Add Vehicle</a>
        <a href="{{ url_for('OilChange') }}">Oil Change</a>
    </div>
{% for x in cars %}
    {%if current_user.user == x.user%}
        <h1>Oil Change for {{ x.make }} {{ x.model }}</h1>
    {% endif %}
{% endfor %}




    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.mileage.label }}<br>
            {{ form.mileage(size=32) }}<br>
            {% for error in form.mileage.errors %}
            <span style="color: #ff0000;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.update_miles.label }}<br>
            {{ form.update_miles(size=32) }}<br>
            {% for error in form.update_miles.errors %}
            <span style="color: #ff0000;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.car.label }}<br>
            {{ form.car(size=32) }}<br>
            {% for error in form.car.errors %}
            <span style="color: #ff0000;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}